body {
  display: flex;
  justify-content: center;
}

#data-bar {
  width: 1200px;
  height: 900px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
}

#game-screen {
  width: 1024px;
  height: 864px;
  position: relative;
  background-image: url('../img/spaceBackground.png');
  background-size: cover;
}

.get-hit {
  display: none;
}

.veil {
  background-color: rgba(255, 255, 255, 0.7);
}
